<!-- 
  Author: dhikihandika
  Date Created: 30/10/2019
 -->

<!-- Use Chart.js -->
<div>
  <div>
    <canvas #Canvas id="pallete">{{ChartLineData}}</canvas>
  </div>
</div>


<!-- When use module ng2-chart
  div>
  <div style="display: block; height: 100%; width: 100%;" >
    <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"></canvas>
  </div>
</div> -->