.sub-dash{
    margin: 20px;
}
mat-panel-title{
    color: rgba(7, 7, 7, 0.726);
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
}
mat-panel-description, p{
    padding: 20px;
    color: rgba(7, 7, 7, 0.726);
    font-size: 20px;
    font-family: sans-serif;
}
mat-expansion-panel-header{
    background-color: rgba(30, 103, 187, 0.8);
}