<div class="about-profile">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"><mat-icon>account_circle</mat-icon></div>
              <mat-card-title>Komatsu Indonesia</mat-card-title>
              <mat-card-subtitle>Manufacturing Backgroud</mat-card-subtitle>
            </mat-card-header>
              <hr>
              <div><img src="/client/src/assets/KIProfile.jpg" alt=""></div>
              <mat-card-content>
                <p>
                    ------------------------------------------------------------------------------------------ <br>
                    ----------------- Profile Description Company Here ----------------- <br>
                    ------------------------------------------------------------------------------------------ <br>
                </p>
            </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
</div>